*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.center{
    display: block;
    margin: 30vh 40%;
}
#happiness{
    display: block;
    position: absolute;
    font-size: 120px;
    transition: 0.4s;
}

#happiness:hover{
    color: #ff4372;
    text-shadow: 0 0 120px rgba(143, 15, 90, 0.63);
    font-size: 160px;
    transform: rotate(5deg);

    transition: 0.4s;
}

#love{
    display: block;
    position:relative;
    justify-content: center;
    top: 20px;
}
.container{
    width: 300px;
    height: 300px;
    background-color: beige;
    border: solid black 2px;
    margin:  20vh auto 0px;
}
.container:active {
    background-color: #ff4372;
    transition: 1s;
    color: white;
    width: 500px;
    height: 500px;
}
