body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#happiness{
    display: flex;
    font-size: 80px;
    justify-content: center;
    transition: 0.4s;
}

#happiness:hover{
    color: rgb(228, 60, 178);
    text-shadow: 0 0 120px rgba(0, 0, 0, 0.363);
    
    transition: 0.4s;
}